/* 
BOXES
Simple CSS framework by Steve Woods, steve@lanilogic.com
https://github.com/woodss/Boxes
-------------------------------------------------------------------------------------------------------
*/

.col10 { width:	10%; }
.col20 { width:	20%; }
.col25 { width:	25%; }
.col30 { width:	30%; }
.col33 { width:	33%; }
.col34 { width:	34%; }
.col40 { width:	40%; }
.col50 { width:	50%; }
.col60 { width:	60%; }
.col66 { width:	66%; }
.col70 { width:	70%; }
.col75 { width:	75%; }
.col80 { width:	80%; }
.col90 { width:	90%; }
.col100 { width: 100%; }

/* Column Definition Class */
.col { float: left; }

/* Clear the float parameters of any preceding containers */
.clearFix { clear:	both; }

/* Align the contents of a .col to the left | center | right */
.col-contents-left { text-align:	right; }
.col-contents-right { text-align:	right; }
.col-contents-middle { text-align: center; }
